@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply contents-center min-h-screen flex-col bg-white font-pretendard text-black;
  > main {
    @apply min-h-fit w-full grow-[1];
  }
}
body::-webkit-scrollbar {
  display: none;
}
::selection {
  @apply bg-gray001 text-white;
}

footer {
  @apply relative flex w-full shrink-0 grow-0 flex-col bg-black py-7 text-[10px] text-white xl:text-[14px];
  > * {
    @apply layout;
  }
  > ul {
    @apply flex flex-col flex-wrap xl:flex-row;
    > li:first-child {
      @apply mb-5 w-full;
    }
    > li:not(:first-child) {
      @apply flex gap-1 after:mx-2.5 sm:break-keep xl:after:content-["|"] xl:last:after:content-[""];
      > label {
        @apply font-bold;
      }
    }
  }
  > p {
    @apply mt-10;
  }
}

.animate-infiniteSlide:hover {
  animation-play-state: paused;
}

@layer components {
  /* layout */
  .screen {
    @apply h-[calc(100vh-55px)] w-screen xl:h-[calc(100vh-60px)];
  }
  .layout {
    @apply mx-auto w-layout;
  }
  .contents-center {
    @apply flex items-center justify-center;
  }
  .contents-between {
    @apply flex items-center justify-between;
  }
  .contents-around {
    @apply flex items-center justify-around;
  }
  /* common */
  .basic-button {
    @apply cursor-pointer bg-black text-main;
  }
  .close-button {
    > span {
      @apply relative h-10 w-10;
    }
    > span::after,
    > span::before {
      @apply absolute left-1/2 top-1/2 h-6 w-1 -translate-x-1/2 -translate-y-1/2 rounded-full bg-white content-[""];
    }
    > span::before {
      @apply rotate-45;
    }
    > span::after {
      @apply -rotate-45;
    }
  }
  .click-button {
    @apply my-1 mr-5 rounded-lg border px-2 py-1 shadow-button hover:mb-[2px] hover:mt-[6px] hover:shadow-none;
  }
  .post-border {
    @apply border-[3px] border-black002 bg-white;
  }
  .link-button {
    @apply rounded-full bg-black px-[5.5vw] py-[7px] text-[3vw] text-white shadow-md duration-500 hover:bg-gray001 xl:px-10 xl:text-[20px];
  }
  .detail-subtitle {
    :not(:last-child) {
      @apply after:content-["|"];
    }
  }

  .divider-pattern {
    @apply h-[30px] w-screen bg-white xl:h-15;
    background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000),
      linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000);
    background-position:
      0 0,
      15px 15px;
    background-size: 30px 30px;
    @media screen and (min-width: 1280px) {
      background-position:
        0 0,
        30px 30px;
      background-size: 60px 60px;
    }
  }

  .divider-pattern-reverse {
    @apply h-[30px] w-screen bg-black xl:h-15;
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
      linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-position:
      0 0,
      15px 15px;
    background-size: 30px 30px;
    @media screen and (min-width: 1280px) {
      background-position:
        0 0,
        30px 30px;
      background-size: 60px 60px;
    }
  }

  /* component */
  .navigation-common {
    @apply mx-auto border-3 border-black002 bg-white text-sm font-bold;
    @apply lg:text-base;
  }
  .page-navigation {
    @apply navigation-common h-auto min-h-[48px] w-full max-w-[1000px] flex-wrap gap-x-6 gap-y-3 px-4;
  }
  .navigation {
    @apply navigation-common contents-between layout h-12 min-w-fit shrink-0 grow-0 rounded-full px-6;
    > a {
      @apply min-w-fit;
    }
  }
  .input {
    @apply w-full border-none p-[5px] text-black focus:border-none focus:outline-none;
  }
  .tab {
    @apply contents-around mx-10 my-1 flex-wrap gap-x-4 gap-y-2 sm:flex-nowrap;
    > li {
      @apply w-full;
    }
    > li > a {
      @apply contents-center w-full break-keep rounded-full border border-black002 bg-white p-2;
    }
  }
  .estimate-label {
    @apply contents-center w-full flex-col border border-b-0 border-gray001 text-[12px] xl:h-15 xl:flex-row xl:text-[18px];
  }
  .estimate-span {
    @apply flex h-full w-full items-center justify-start bg-gray003 px-[3.1vw] xl:w-[27.8%] xl:px-10;
  }
  .estimate-input {
    @apply my-2 w-10/12 border border-gray001 px-2 xl:mx-10 xl:my-0 xl:w-full;
  }
  .social-button {
    @apply contents-center flex-1 gap-[3px] rounded-2xl border-2 border-black002 bg-sub py-[3px] text-[7px] text-main shadow-button;
    @apply lg:gap-1.5 lg:text-sm;
    @apply sm:text-xs;
    > div {
      @apply contents-center relative aspect-square w-[9px] sm:w-3 lg:w-4;
    }
    > div > img {
      @apply h-auto w-full overflow-visible object-cover;
    }
  }

  /* animation */
  .animation {
    @apply transition-all duration-150 ease-linear;
  }
}
